{% extends "base.html" %}

{% block content %}
<div>
    <h1>Select a continent</h1>
    <form method="GET" action="{{ url_for('country_from_flag.country_from_flag') }}">
        <div>
            <input type="radio" id="europe" name="continent-selector-radio" value="europe">
            <label for="europe">Europe</label>
            <br>
            <input type="radio" id="africa" name="continent-selector-radio" value="africa">
            <label for="africa">Africa</label>
            <br>
            <input type="radio" id="asia" name="continent-selector-radio" value="asia">
            <label for="asia">Asia</label>
            <br>
            <input type="radio" id="north-america" name="continent-selector-radio" value="north-america">
            <label for="north-america">North America</label>
            <br>
            <input type="radio" id="south-america" name="continent-selector-radio" value="south-america">
            <label for="south-america">South America</label>
        </div>
        <button>Play</button>
    </form>
</div>
{% endblock %}