{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <h1>Country Guessing Game</h1>
    </div>

    <div>
        <img src={{ flag_path }}>
    </div>

    <div>
        <div>
            <form method="POST" action="{{ url_for('country_from_flag.country_from_flag') }}">
                <p>Score {{ correct_guesses }}/{{ total_guesses }}</p>
                <div>
                    <input type="text" name="country-name-input" placeholder="Enter country name" autofocus>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
